# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Data.csv")

In [3]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [4]:
x=df.iloc[:,:-1].values

In [5]:
y=df.iloc[:,-1].values

In [6]:
df.replace(r'\s+',np.nan,regex=True)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

# Missing Data Handling

In [12]:
from sklearn.impute import SimpleImputer

In [13]:
imputer=Imputer(missing_values="NaN",strategy="median",axis=0)
imputer=imputer.fit(x[:,1:3])
x[:,1:3]=imputer.transform(x[:,1:3])
print("Values eliminated missing values",x)

Values eliminated missing values [['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 61000.0]
 ['France' 35.0 58000.0]
 ['Spain' 38.0 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

#  Encoding Categorical Values

In [14]:
from sklearn.preprocessing import LabelEncoder

In [19]:
labelencoder_X=LabelEncoder()

In [23]:
x[:,0]=labelencoder_X.fit_transform(x[:,0])

In [24]:
x

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 61000.0],
       [0, 35.0, 58000.0],
       [2, 38.0, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

##### As you can see the values of the first column have become numerical values, Since machine learning models are equations, they will think that 1 is greater than 0 and 2 is greater than 1 which would make our model to fail

##### For this we will use dummy encoding or One hot Encoding

In [25]:
from sklearn.preprocessing import OneHotEncoder

In [32]:
onehotencoder=OneHotEncoder(categorical_features=[0])
x=onehotencoder.fit_transform(x)

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [43]:
x=x.toarray()

In [44]:
labelencoder_y=LabelEncoder()
y=labelencoder_X.fit_transform(y)
print("Y after label encoding",y)

Y after label encoding [0 1 0 0 1 1 0 1 0 1]

# Train-Test Split

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [77]:
x_test

array([[0.0e+00, 1.0e+00, 0.0e+00, 3.0e+01, 5.4e+04],
       [0.0e+00, 1.0e+00, 0.0e+00, 5.0e+01, 8.3e+04]])

# Feature Scaling

In [78]:
from sklearn.preprocessing import StandardScaler

In [79]:
scaletrain=StandardScaler()

In [80]:
x_train=scaletrain.fit_transform(x_train)

In [81]:
x_test=scaletrain.transform(x_test)